@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100vh;
  background: url('IMG/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* background-color: red; */
}

.logo {
  font-size: 50px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: aliceblue;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: aliceblue;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}


.form {
  margin: auto;
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: aliceblue;
  border-radius: 10px;
  padding: 30px 40px;
}

.form h1 {
  font-size: 36px;
  text-align: center;
}

.form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: aliceblue;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: aliceblue;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.form .btn {
  width: 100%;
  height: 45px;
  background: aliceblue;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #111;
  font-weight: 600;
}

.form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-Register {
  margin: auto;
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: aliceblue;
  border-radius: 10px;
  padding: 30px 40px;
}

.form-Register h1 {
  font-size: 36px;
  text-align: center;
}

.form-Register .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: aliceblue;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: aliceblue;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  visibility: hidden;
}
.input-box.success input{
  border-color: green;
}
.input-box.error input{
  border-color: red;
}

.form-Register .btn {
  width: 100%;
  height: 45px;
  background: aliceblue;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #111;
  font-weight: 600;
}

.form-Register .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.input-box.error small{
  visibility: visible;
}
.input-box small {
  color:red;
  position: absolute;
  display: flex;
  visibility: hidden;
}
.input-box.success i.fa-check{
  color: green;
  visibility: visible;
}
.input-box.error i.fa-exclamation{
  color: red;
  visibility: visible;
}

footer {
  position: absolute;
  bottom: -300px;
  background-color: aliceblue;
  height: 300px;
  width: 100%;
  z-index: 99;
}

.social-footer {
  margin: 60px 0px 0px 80px;
}

.social-footer h3 {

  color: #111;
  margin-bottom: 20px;
  font-size: 30px;
}

.social-footer p {
  color: #111;
  padding-bottom: 10px;
  text-align: justify;
}

.social-footer i {
  color: #111;
}

footer a {
  position: relative;
  height: fit-content;
  margin: 10px 20px 0 0;
  font-size: 30px;
  color: #111;
  font-weight: 500;
  text-decoration: none;
  justify-content: center;
}

footer a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #111;
  transition: .3s;
}

footer a:hover::before {
  width: 100%;
}